* {
    padding: 0;
    margin: 0;
}

body {
    text-align: center;
}

.main-container {
    display: grid;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 20%;

}

.inputs {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

button {
    width: 35px;
    background-color: rgb(16, 123, 190);
    color: white;
    border: none;
    border-radius: 3px;
    padding: 5px;
}

input {
    width: 25vw;
    padding: 8px;
    outline: none;
}

span {
    margin: 5px;
}

input::placeholder {
    color: #999;
    font-style: italic;
    font-size: 1em;
}

#resetbtn {
    width: fit-content;
}